<form method="post">

    <div class="container" id="sandbox-container">
        <div class="col-md-4">
            <div class="input-daterange input-group" id="datepicker">
                <span class="input-group-addon">Date debut</span>
                <input class="input-sm form-control" name="debut" type="text">

                <span class="input-group-addon">Date fin</span>
                <input class="input-sm form-control" name="fin" type="text">

            </div>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-default">Chercher</button>
        </div>
    </div>

</form>

